<h1>0</h1>
<h4>Setup</h4>
<div>
<button class="btn" mat-raised-button color="primary">Start</button>
<button class="btn" mat-raised-button color="primary">Pause</button>
<button class="btn" mat-raised-button color="primary">Reset</button>
</div>
<h4 class="count">Count</h4>
<div>
    <button class="btn" mat-raised-button color="primary">Count up</button>
    <button class="btn" mat-raised-button color="primary">Count down</button>
    </div>

<form class="form example-form">

  <mat-form-field class="example-full-width">
    <mat-label>Set to</mat-label>
    <input matInput value="0">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Step</mat-label>
    <input matInput type="number" value="0">
  </mat-form-field>

</form>